@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-color-orange: hsl(26, 100%, 55%);
  --primary-color-pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-lightbox-background: hsl(0, 0%, 0%);
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
p,
li,
ul {
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}

h3,
p {
  font-size: 1rem;
}

p {
  color: var(--dark-grayish-blue);
}

h3 {
  font-weight: 700;
  color: var(--primary-color-orange);
}

/* Desktop */

@media screen and (min-width: 377px) {
  h1,
  h3,
  p {
    margin: 0rem;
  }

  /* not to display on desktop*/

  .mobile-navigation {
    display: none;
  }

  .arrow-left {
    display: none;
  }

  .arrow-right {
    display: none;
  }

  .price-mobile {
    display: none;
  }

  .hamburger {
    display: none;
  }

  #image-2,
  #image-3,
  #image-4 {
    display: none;
  }

  /**/

  .h1-title {
    line-height: 1;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .h3-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1;
  }

  .line {
    height: 0.15rem;
    background-color: var(--light-grayish-blue);
    margin: 0.5rem 0;
    min-width: 65rem;
  }

  .desktop-navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-navigation li,
  ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 65rem;
    flex-direction: row;
    margin: 1.8rem 1rem;
  }

  .left-nav {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
  }

  .right-nav {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    align-items: center;
  }

  .avatar {
    height: 3rem;
    margin: 0;
  }

  .desktop-container {
    display: flex;
    margin: 6rem 6rem;
    width: 80vw;
    align-items: flex-start;
  }

  .desktop-child.product-image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
  }

  .desktop-child.right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }

  .desktop-child.right p {
    margin-bottom: 2rem;
    align-items: flex-start;
  }

  .desktop-child {
    flex: 1;
  }

  .product-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .main-image {
    display: flex;
    border-radius: 1rem;
    min-width: 15rem;
    max-width: 25rem;
    margin-right: 2rem;
  }

  .price-row {
    display: flex;
  }

  .price-row-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }

  .price-row-left h1 {
    line-height: 1;
  }
  .price-row-left .price-row-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .percentage-off {
    padding: 0.4rem 0.6rem;
    background-color: var(--primary-color-pale-orange);
    border-radius: 0.4rem;
    margin-left: 1rem;
  }

  .price-desktop {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    line-height: 1;
  }

  .buttons-container {
    display: flex;

    width: 100%;
    align-items: flex-start;
  }

  .plus-and-minus {
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: row;
    border-radius: 0.6rem;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    margin: 0rem 0rem;
    gap: 2.5rem;
    width: 6rem;
    height: 3.5rem;
  }

  .plus-and-minus p {
    font-weight: 700;
    color: var(--very-dark-blue);
    margin-top: 2rem;
  }

  .add-to-cart-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-orange);
    color: var(--white);
    border-radius: 0.6rem;
    padding: 0rem 4.5rem;
    margin: 0rem 1rem;
    font-weight: 700;
    font-size: 1rem;
    height: 3.5rem;
    gap: 1rem;
    border: none;
    white-space: nowrap;
  }

  .add-to-cart img {
    margin-right: 1rem;
    height: 1rem;
  }

  .small-images-container {
    display: flex;
    max-width: 25rem;
    min-width: 15rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    margin-right: 2rem;
    flex-wrap: wrap;
  }

  .small-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
  }

  .small-images img {
    width: 5rem !important;
    border-radius: 1rem;
  }
}

/* Mobile */

@media screen and (max-width: 376px) {
  h1,
  h2,
  h3,
  p,
  li,
  ul {
    font-family: "Kumbh Sans", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* not to display on mobile */

  .desktop-navigation {
    display: none;
  }

  .small-images-container {
    display: none;
  }

  .price-desktop {
    display: none;
  }

  .h1-title {
    font-size: 1.5rem;
  }

  .header {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    margin: 0.5rem 1rem;
  }
  .hamburger {
    height: 1rem;
    margin-top: 0.2rem;
  }

  .close-nav {
    display: fixed;
    z-index: 3;
    margin-top: 0.8rem;
    margin-left: 1.5rem;
  }

  .mobile-nav-container {
    display: flex;
    width: 100%;
  }

  .nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-lightbox-background);
    opacity: 0.5;
    z-index: 1;
  }

  .nav-overlay-open {
    display: block;
  }

  .mobile-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 65vw;
    height: 100vh;
    background-color: var(--white);
    transform: translateX(-15rem);
    transition: transform 0.25s ease-in-out;
  }

  .mobile-navigation-open {
    transform: translateX(0);
    z-index: 2;
  }

  .mobile-navigation ul {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
  }

  .mobile-navigation li {
    display: block;
    padding: 0.5rem 0;
    font-weight: 700;
  }

  .logo {
    height: 1.2rem;
    width: 8rem;
    margin: 0;
  }

  .cart {
    height: 1.3rem;
    margin: 0;
  }

  .avatar {
    height: 1.7rem;
    margin: 0;
  }

  .left-nav {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
  }
  .right-nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }

  .primary-navigation {
    display: block;
  }

  /* image carousel */

  .image-carousel-container {
    display: flex;
    width: 100vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-top: 1rem;
  }

  .main-image {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 60vh;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  .arrow-left {
    position: absolute;
    top: 7rem;
    left: 0.5rem;
    z-index: 2;
    padding: 0.5rem;
    background-color: var(--white);
    border-radius: 50%;
    width: 0.8rem !important;
    height: 0.8rem !important;
  }

  .arrow-right {
    position: absolute;
    top: 7rem;
    right: 0.5rem;
    z-index: 2;
    padding: 0.5rem;
    background-color: var(--white);
    border-radius: 50%;
    width: 0.8rem !important;
    height: 0.8rem !important;
  }

  .product-image {
    position: relative;
    width: 100%;
  }

  .product-image img {
    width: 100%;
    height: 45vh;
    margin: 0;
    object-fit: cover;
    z-index: 0;
  }

  /**/

  .h3-title {
    margin-top: 2rem;
    font-size: 0.7rem;
  }

  .h1-title {
    margin-top: 0rem;
    margin-bottom: 1.2rem;
  }

  .price-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .price-row-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .price-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .percentage-off {
    padding: 0.4rem 0.6rem;
    background-color: var(--primary-color-pale-orange);
    border-radius: 0.4rem;
    margin-left: 0;
  }

  .percentage-off h3 {
    font-size: 0.8rem;
  }

  .price-mobile p {
    margin-left: 1rem;
    font-weight: 700 !important;
    text-decoration: line-through;
  }

  .plus-and-minus {
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: row;
    border-radius: 0.6rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    margin: 0.5rem 1rem;
  }

  .plus-and-minus p {
    font-weight: 700;
    color: var(--very-dark-blue);
  }

  .cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-to-cart-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-orange);
    color: var(--white);
    border-radius: 0.6rem;
    padding: 1.3rem 1rem;
    margin: 0.5rem 1rem;
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem 1rem;
    width: 90vw;
    gap: 0.5rem;
    border: none;
    margin-bottom: 4rem;
  }

  .add-to-cart img {
    margin-right: 0.5rem;
    height: 1rem;
  }
}
